@model GeradorRelatoriosWeb.Models.Filtros.FiltroJulgamentosJari
@{
    ViewData["Title"] = "JulgamentosJari";
    Layout = "~/Views/Shared/_LayoutLogado.cshtml";
}
<h1>Julgamentos Jari</h1>
<div class="row">
    <div class="col-md-12">
        <div class="form-group panel">
            <div class="panel-heading"><h4>Filtros</h4></div>
            <div class="panel-body">
                <form asp-action="ListarJulgamentosJari">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="DataInicio" class="control-label"></label>
                                <input asp-for="DataInicio" id="txtDataInicio" class="form-control" min="2000-01-01" />
                                <span asp-validation-for="DataInicio" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="DataFim" class="control-label"></label>
                                <input asp-for="DataFim" id="txtDataFinal" class="form-control" min="2000-01-01" />
                                <span asp-validation-for="DataFim" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="submit" id="btnVisualizar" value="Visualizar" class="btn btn-primary" />
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="form-group">
                                <input type="submit" id="btnExportar" asp-action="ExportarJulgamentosJari" value="Exportar XLS" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RetornoJulgamentosJari.FirstOrDefault().Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetornoJulgamentosJari.FirstOrDefault().Mes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetornoJulgamentosJari.FirstOrDefault().JARI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetornoJulgamentosJari.FirstOrDefault().QuantidadeJulgados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetornoJulgamentosJari.FirstOrDefault().Fase)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RetornoJulgamentosJari)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ano)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JARI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantidadeJulgados)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fase)
                </td>                
            </tr>
        }
    </tbody>
</table>
<script src="~/js/Gerador/JulgamentosJari.js"></script>