@model GeradorRelatoriosWeb.Models.Filtros.FiltroLevantamentoDeConferencia
@{
    ViewData["Title"] = "Levantamento de Conferencia";
    Layout = "~/Views/Shared/_LayoutLogado.cshtml";
}
<script src="~/js/Gerador/LevantamentoDeConferencia.js"></script>
<h1>Levantamento de Conferencia</h1>
<div class="row">
    <div class="col-md-12">
        <div class="form-group panel">
            <div class="panel-heading"><h4>Filtros</h4></div>
            <div class="panel-body">
                <form asp-action="ListarLevantamentoDeConferencia">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="DataInicio" class="control-label"></label>
                                <input asp-for="DataInicio" id="txtDataInicio" class="form-control" min="2000-01-01" />
                                <span asp-validation-for="DataInicio" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="DataFim" class="control-label"></label>
                                <input asp-for="DataFim" id="txtDataFinal" class="form-control" min="2000-01-01" />
                                <span asp-validation-for="DataFim" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="submit" id="btnVisualizar" value="Visualizar" class="btn btn-primary" />
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="form-group">
                                <input type="submit" id="btnExportar" asp-action="ExportarLevantamentoDeConferencia" value="Exportar XLS" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RetornoLevantamentoDeConferencia.FirstOrDefault().Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetornoLevantamentoDeConferencia.FirstOrDefault().PeriodoDaAtividade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetornoLevantamentoDeConferencia.FirstOrDefault().QtdDeConferencia1Realizadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetornoLevantamentoDeConferencia.FirstOrDefault().QtdDeConferencia2Realizadas)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RetornoLevantamentoDeConferencia)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.PeriodoDaAtividade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdDeConferencia1Realizadas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdDeConferencia2Realizadas)
            </td>
        </tr>
        }
    </tbody>
</table>

