@model GeradorRelatoriosWeb.Models.Filtros.FiltroMedicaoSR
@{
    ViewData["Title"] = "Medição SR";
    Layout = "~/Views/Shared/_LayoutLogado.cshtml";
}
<script src="~/js/Gerador/MedicaoSR.js"></script>
<h1>Medição SR</h1>
<div class="row">
    <div class="col-md-12">
        <div class="form-group panel">
            <div class="panel-heading"><h4>Filtros</h4></div>
            <div class="panel-body">
                <form asp-action="ListarMedicaoSR">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="DataInicio" class="control-label"></label>
                                <input asp-for="DataInicio" id="txtDataInicio" class="form-control" min="2000-01-01" />
                                <span asp-validation-for="DataInicio" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="DataFim" class="control-label"></label>
                                <input asp-for="DataFim" id="txtDataFinal" class="form-control" min="2000-01-01" />
                                <span asp-validation-for="DataFim" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="submit" id="btnVisualizar" value="Visualizar" class="btn btn-primary" />
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="form-group">
                                <input type="submit" id="btnExportar" asp-action="ExportarMedicaoSR" value="Exportar XLS" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RetornoMedicaoSR.FirstOrDefault().Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetornoMedicaoSR.FirstOrDefault().NomeDoArquivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetornoMedicaoSR.FirstOrDefault().DataDigitalizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetornoMedicaoSR.FirstOrDefault().TamanhoDoArquivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetornoMedicaoSR.FirstOrDefault().NomeDoFuncionario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetornoMedicaoSR.FirstOrDefault().CpfDoFuncionario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetornoMedicaoSR.FirstOrDefault().SR)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RetornoMedicaoSR)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDoArquivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDigitalizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TamanhoDoArquivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDoFuncionario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpfDoFuncionario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SR)
            </td>
        </tr>
        }
    </tbody>
</table>


