@model GeradorRelatoriosWeb.Dominio.Models.RetornoProcessosInstruir
@{
    ViewData["Title"] = "Processos a Instruir";
    Layout = "~/Views/Shared/_LayoutLogado.cshtml";
    int total = 0;
    int totalComArquivo = 0;
    int totalSemArquivo = 0;
}
<script src="~/js/Gerador/ProcessosInstruir.js"></script>
<h1>Processos a Instruir</h1>
<br />
<div class="row">
    <div class="col-md-12">
        <form asp-action="ListarProcessosInstruir">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" id="btnVisualizar" value="Visualizar" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <div class="form-group">
                        <input type="submit" id="btnExportar" asp-action="ExportarProcessosInstruir" value="Exportar XLS" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<br />
@{
    if (Model.ListaDAs != null && Model.ListaDAs.Count() > 0)
    {
        <div class="row">
            <div class="col-md-6">
                <h4>Recursos</h4>
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ListaRecursos.FirstOrDefault().Tipo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ListaRecursos.FirstOrDefault().Instancia)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ListaRecursos.FirstOrDefault().Total)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ListaRecursos.FirstOrDefault().ComArquivo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ListaRecursos.FirstOrDefault().SemArquivo)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListaRecursos)
                        {
                            total += item.Total;
                            totalComArquivo += item.ComArquivo;
                            totalSemArquivo += item.SemArquivo;
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tipo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Instancia)
                                </td>
                                <td>
                                    @Convert.ToDecimal(item.Total).ToString("###,###")
                                </td>
                                <td>
                                    @Convert.ToDecimal(item.ComArquivo).ToString("###,###")
                                </td>
                                <td>
                                    @Convert.ToDecimal(item.SemArquivo).ToString("###,###")
                                </td>
                            </tr>
                        }
                        <tr class="font-weight-bold">
                            <td>
                                Total
                            </td>
                            <td>
                                
                            </td>
                            <td>
                                @Convert.ToDecimal(total).ToString("###,###")
                            </td>
                            <td>
                                @Convert.ToDecimal(totalComArquivo).ToString("###,###")
                            </td>
                            <td>
                                @Convert.ToDecimal(totalSemArquivo).ToString("###,###")
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h4>SA's</h4>
                        <table class="table table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ListaSAs.FirstOrDefault().Total)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ListaSAs.FirstOrDefault().ComArquivo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ListaSAs.FirstOrDefault().SemArquivo)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListaSAs)
                                {
                                    <tr>
                                        <td>
                                            @Convert.ToDecimal(item.Total).ToString("###,###")
                                        </td>
                                        <td>
                                            @Convert.ToDecimal(item.ComArquivo).ToString("###,###")
                                        </td>
                                        <td>
                                            @Convert.ToDecimal(item.SemArquivo).ToString("###,###")
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>FICI</h4>
                        <table class="table table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ListaFICIs.FirstOrDefault().Total)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ListaFICIs.FirstOrDefault().ComArquivo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ListaFICIs.FirstOrDefault().SemArquivo)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListaFICIs)
                                {
                                    <tr>
                                        <td>
                                            @Convert.ToDecimal(item.Total).ToString("###,###")
                                        </td>
                                        <td>
                                            @Convert.ToDecimal(item.ComArquivo).ToString("###,###")
                                        </td>
                                        <td>
                                            @Convert.ToDecimal(item.SemArquivo).ToString("###,###")
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>FIRI</h4>
                        <table class="table table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ListaFIRIs.FirstOrDefault().Total)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ListaFIRIs.FirstOrDefault().ComArquivo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ListaFIRIs.FirstOrDefault().SemArquivo)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListaFIRIs)
                                {
                                    <tr>
                                        <td>
                                            @Convert.ToDecimal(item.Total).ToString("###,###")
                                        </td>
                                        <td>
                                            @Convert.ToDecimal(item.ComArquivo).ToString("###,###")
                                        </td>
                                        <td>
                                            @Convert.ToDecimal(item.SemArquivo).ToString("###,###")
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>DA's</h4>
                        <table class="table table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ListaDAs.FirstOrDefault().Tipo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ListaDAs.FirstOrDefault().Total)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ListaDAs.FirstOrDefault().ComArquivo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ListaDAs.FirstOrDefault().SemArquivo)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    total = 0;
                                    totalComArquivo = 0;
                                    totalSemArquivo = 0;
                                }
                                @foreach (var item in Model.ListaDAs)
                                {
                                    total += item.Total;
                                    totalComArquivo += item.ComArquivo;
                                    totalSemArquivo += item.SemArquivo;
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Tipo)
                                        </td>
                                        <td>
                                            @Convert.ToDecimal(item.Total).ToString("###,###")
                                        </td>
                                        <td>
                                            @Convert.ToDecimal(item.ComArquivo).ToString("###,###")
                                        </td>
                                        <td>
                                            @Convert.ToDecimal(item.SemArquivo).ToString("###,###")
                                        </td>
                                    </tr>
                                }
                                <tr class="font-weight-bold">
                                    <td>
                                        Total
                                    </td>
                                    <td>
                                        @Convert.ToDecimal(total).ToString("###,###")
                                    </td>
                                    <td>
                                        @Convert.ToDecimal(totalComArquivo).ToString("###,###")
                                    </td>
                                    <td>
                                        @Convert.ToDecimal(totalSemArquivo).ToString("###,###")
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
}

