@model GeradorRelatoriosWeb.Models.Filtros.FiltroNAsNPs
@{
    ViewData["Title"] = "Valores NAs e NPs";
    Layout = "~/Views/Shared/_LayoutLogado.cshtml";
}
<script src="~/js/Gerador/NAsNPs.js"></script>
<h1>Quantidade e Valores - NAs e NPs Geradas</h1>
<div class="row">
    <div class="col-md-12">
        <div class="form-group panel">
            <div class="panel-heading"><h4>Filtros</h4></div>
            <div class="panel-body">
                <form asp-action="ListarValoresNAsNPs">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="DataInicio" class="control-label"></label>
                                <input asp-for="DataInicio" id="txtDataInicio" class="form-control" min="2000-01-01" />
                                <span asp-validation-for="DataInicio" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="DataFim" class="control-label"></label>
                                <input asp-for="DataFim" id="txtDataFinal" class="form-control" min="2000-01-01" />
                                <span asp-validation-for="DataFim" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="submit" id="btnVisualizar" value="Visualizar" class="btn btn-primary" />
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="form-group">
                                <input type="submit" id="btnExportar" asp-action="ExportarValoresNAsNPs" value="Exportar XLS" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4>NAs</h4>
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ListaNAsNPs.ListaNAs.FirstOrDefault().Mes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ListaNAsNPs.ListaNAs.FirstOrDefault().Quantidade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ListaNAsNPs.ListaNAs.FirstOrDefault().ValorTotal)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListaNAsNPs.ListaNAs)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantidade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ValorTotal)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h4>NPs</h4>
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ListaNAsNPs.ListaNPs.FirstOrDefault().Mes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ListaNAsNPs.ListaNPs.FirstOrDefault().Quantidade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ListaNAsNPs.ListaNPs.FirstOrDefault().ValorTotal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ListaNAsNPs.ListaNPs.FirstOrDefault().ValorPago)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListaNAsNPs.ListaNPs)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantidade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ValorTotal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ValorPago)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

